body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 0;
  transition: background-image 0.5s ease-in-out;
}

body.dashboard {
  background-image: url('https://images.pexels.com/photos/97050/pexels-photo-97050.jpeg?auto=compress&cs=tinysrgb&w=800');
  color: #000;
}

body.positivo {
  background-image: url('https://images.pexels.com/photos/1169084/pexels-photo-1169084.jpeg?auto=compress&cs=tinysrgb&w=800');
  color: #000;
}

body.negativo {
  background-image: url('https://images.pexels.com/photos/417070/pexels-photo-417070.jpeg?auto=compress&cs=tinysrgb&w=800');
  color: #000000;
}

.container {
  background-color: rgba(255, 255, 255, 0.95);
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: #000;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.boton {
  text-align: center;
  padding: 0%;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  color: inherit;
}

.flex-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.table-container,
.summary-container {
  flex: 1 1 48%;
  max-height: 300px;
  overflow-y: auto;
}

table {
  width: 100px;
  border-collapse: collapse;
  background: white;
  font-size: 0.95em;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}

tr.positivo {
  background-color: #d4fcd4;
}

tr.negativo {
  background-color: #ffd5d5;
}

.graph-container {
  margin-top: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

canvas {
  width: 200px;
}

.footer {
  text-align: center;
  margin-top: 60px;
  font-size: 0.9em;
  color: #555;
}
